<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Stock Analysis App</h1>
    <p>Click below to explore investment opportunities.</p>
    <a href="/investment_opportunities">Go to Investment Opportunities</a>
    <form action="/investment_opportunities" method="get">
        <button type="submit">Investment Opportunities</button>
    </form>
    # another page to display finance 101 
    <p> Click below page to learn finance</p>
    <a href="/finance_101">Go to Finance 101</a>
    <form action="/finance_101" method="get">
        <button type="submit">Finance 101</button>
</body>
</html>
